<div class="container">
<div class="col-md-4"></div>
<div class="col-md-4">

<div class="panel panel-primary">
    <div class="panel-heading text-center">Signup here</div>
    <div class="panel-body">
        <form [formGroup]="myform" (ngSubmit)="savemessage()">
            <div class="form-group">
                <label>full name </label>
                <input type="text" class="form-control input-sm" formControlName="fname">
                <div *ngIf="pagesubmit && myform.controls.fname.errors"><!--controls insense fname email and msg-->
                  <p *ngIf="myform.controls.fname.errors.required" class="text-danger">
                    please enter your name !
                  </p>
                  
                </div>
              </div><!--form-groupend-->
              <div class="form-group">
                  <label>email-id</label>
                  <input type="text" class="form-control input-sm" formControlName="emailid">
                  <div *ngIf="pagesubmit && myform.controls.emailid.errors"><!--controls insense fname email and msg-->
                    <p *ngIf="myform.controls.emailid.errors.required" class="text-danger">
                      please enter your email id !
                    </p>
                    <p *ngIf="myform.controls.emailid.errors.email" class="text-danger">
                        this is not valid email id
                      </p>
                  </div>
                </div><!--group end-->
               
                <div class="form-group">
                  <label>mobile</label>
                  <input type="text" class="form-control input-sm" formControlName="mobile">
                  <div *ngIf="pagesubmit && myform.controls.mobile.errors"><!--controls insense fname email and msg-->
                    <p *ngIf="myform.controls.mobile.errors.required" class="text-danger">
                      please enter your mobile number
                    </p>
                    <p *ngIf="myform.controls.mobile.errors.minlength" class="text-danger">
                        mobile number must be 10 digits
                      </p>
                      <p *ngIf="myform.controls.mobile.errors.maxlength" class="text-danger">
                        mobile number must be 10 digits
                      </p>
                  </div>
                </div><!--group end-->
        
                <div class="form-group">
                  <label>password</label>
                  <input type="text" class="form-control input-sm" formControlName="password">
                  <div *ngIf="pagesubmit && myform.controls.password.errors"><!--controls insense fname email and msg-->
                    <p *ngIf="myform.controls.password.errors.required" class="text-danger">
                      please enter your password !
                    </p>
                    
                  </div>
                </div><!--group end-->
                <div class="text-center">
                    <button class="btn btn-primary">register</button>
                </div>
        
                </form>
    </div>
    <div class="panel-footer text-center">
  <a href="javascript:void(0)" href="log">I Have account !</a>
  </div>
</div>
</div>
<div class="col-md-4"></div>
</div>